<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SqlConnectionString"
        connectionString="server=localhost;Port=5432;user id=postgres;password=senha123;database=CarbonTrackerDB;Include Error Detail=true"
        providerName="Npgsql"/>
  </connectionStrings>
  <appSettings>
    <add key="UsuarioPadrao" value="Administrador"/>
    <add key="SenhaPadrao" value="Admin123"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>